apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-exporter
  annotations:
    keel.sh/policy: major
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 8h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: node-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: node-exporter
    spec:
      containers:
      - name: node-exporter
        image: harbor.k8s.lenin.nu/dh-mirror/prom/node-exporter:v1.8.2
        ports:
        - name: http
          containerPort: 9100
        resources: 
          limits:
            cpu: 100m
            memory: 50Mi
          requests:
            cpu: 100m
            memory: 50Mi
      restartPolicy: Always
  revisionHistoryLimit: 1