apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: tools
  annotations:
#    keel.sh/policy: major
    keel.sh/policy: "regexp:^12.*-[0-9]*$"
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 8h"
    keel.sh/monitorContainers: "^grafana"
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: grafana
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      name: grafana
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: harbor.k8s.lenin.nu/dh-mirror/grafana/grafana:12.3.0-18546308611
        ports:
        - name: grafana
          containerPort: 3000
        resources:
          limits:
            memory: 200Mi
            cpu: 300m
          requests: 
            memory: 150Mi
            cpu: 200m
        volumeMounts:
          - mountPath: /var/lib/grafana
            name: grafana-storage
      initContainers:
      - name: change-ownership-container
        image: busybox
        command: ["/bin/chmod","-R","777", "/var/lib/grafana"]
        securityContext:
          runAsUser: 0
          privileged: true
        volumeMounts:
          - mountPath: /var/lib/grafana
            name: grafana-storage
      volumes:
        - name: grafana-storage
          persistentVolumeClaim:
            claimName: grafana-storage-pvc
