apiVersion: cert-manager.io/v1
kind: Certificate
metadata: 
  name: cert-grafana-k8s-lenin-nu
spec:
  dnsNames:
    - "grafana.k8s.lenin.nu"
  secretName: secret-grafana-k8s-lenin-nu
  issuerRef:
    name: letsencrypt-prod-shortlived
    kind: ClusterIssuer
  privateKey:
    rotationPolicy: Always
  revisionHistoryLimit: 1