apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole-exporter
  annotations:
    keel.sh/policy: major
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 8h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: pihole-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pihole-exporter
    spec:
      containers:
      - name: pihole-exporter
        image: harbor.k8s.lenin.nu/dh-mirror/ekofr/pihole-exporter:v0.4.0
        ports:
        - name: http
          containerPort: 9617
        envFrom:
        - configMapRef:
            name: pihole-exporter-env
        resources: 
          limits:
            cpu: 100m
            memory: 50Mi
          requests:
            cpu: 100m
            memory: 50Mi
      restartPolicy: Always
  revisionHistoryLimit: 1