apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-exporter
  annotations:
    keel.sh/policy: major
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 8h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ping-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ping-exporter
    spec:
      containers:
      - name: ping-exporter
        image: harbor.k8s.lenin.nu/dh-mirror/czerwonk/ping_exporter:v1.1.3
        ports:
        - name: http
          containerPort: 9427
        volumeMounts:
        - name: ping-exporter-conf
          mountPath: /config/config.yml
          subPath: ping_exporter.yaml
        resources: 
          limits:
            cpu: 100m
            memory: 50Mi
          requests:
            cpu: 100m
            memory: 50Mi
      restartPolicy: Always
      volumes:
      - name: ping-exporter-conf
        configMap:
          name: ping-exporter-conf
  revisionHistoryLimit: 1